<a href="https://colab.research.google.com/github/2303A51170/2025BT17-18/blob/main/2303A51170_18_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import pandas as pd

# Load seaborn Titanic dataset
titanic = sns.load_dataset("titanic")

print("Before Cleaning - Missing Values:\n", titanic.isnull().sum())

# Fill missing Age with mean
titanic['age'] = titanic['age'].fillna(titanic['age'].mean())

# Fill missing Embarked with mode
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])

# Drop irrelevant column (deck is similar to cabin here)
titanic = titanic.drop(columns=['deck'], errors='ignore')

print("\nAfter Cleaning - Missing Values:\n", titanic.isnull().sum())

Before Cleaning - Missing Values:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

After Cleaning - Missing Values:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [2]:
import pandas as pd

data = {
    'Student_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Gender': ['M', 'Male', 'male', 'F', 'Female']
}

df = pd.DataFrame(data)
print("Before Cleaning:\n", df)

# Standardize Gender column
df['Gender'] = df['Gender'].str.strip().str.capitalize()  # Makes 'Male'/'Female'

print("\nAfter Cleaning:\n", df)

Before Cleaning:
    Student_ID     Name  Gender
0         101    Alice       M
1         102      Bob    Male
2         103  Charlie    male
3         104    David       F
4         105      Eva  Female

After Cleaning:
    Student_ID     Name  Gender
0         101    Alice       M
1         102      Bob    Male
2         103  Charlie    Male
3         104    David       F
4         105      Eva  Female